.equipment {
    background-color: #FAFAFA;
    padding: 30px 0px 50px 0px;

}

.pre-own > a {
    font-size: 17px;
    color: #585757bf;
    text-decoration: none;
    width: 100%;
    margin-right: 75px;
    display: flex;
   
}

.house-icon {
    color: black;
    font-size: 18px;
}
.right-icon {
    font-size: 12px;
    color: black;
    margin-right: 5px;
   
}

.category h4 {
    font-size: 18px;
    color: #019C89;
   text-align: start;
   margin-top: 10px;
   font-weight: 600;
}

.search-input input {
    border: 1px solid #019C89;
    border-radius: 20px;
    padding: 6px 17px 6px 17px;
    background: none;
    font-size: 12px;
    width: 90%;
    margin: 14px 0px 10px 0px;;
}

.search-icon {
    position: relative;
    top: -38px;
    left: 224px;
    color: #019C89;
    font-weight: bolder;
    cursor: pointer;
}

.category-filter {
    overflow-y: scroll;
    height: 400px;
    display: flex;
   justify-content: start;
   text-align: start;
  
    
    
}

.category-name {
    display: flex;
   gap: 7px;
    color: #737373;
    font-size: 15px;
    justify-content: space-between;
    padding: 3px 10px 3px 10px;
   
}

.category-name > i {
    color: #019C89;
    font-weight: 100!important;
    font-size: 12px;
}

.category-name input {
    height: 26px;
    border: 1px solid #737373;
    
}
.category-name span {
    margin-top: 0px;
    font-weight: 400;
}

.equip-title h1 {
    color: #019C89;
    font-weight: 600;
    font-size: 24px;
    text-align: start;

}
.equip-title > p {
    font-size: 15px;
    margin-top: 8px;
    text-align: start;
}

.brand {
    margin-top: 25px;
    border-radius: 2px;
    background-color: #FFFFFF;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.brand >img {
    margin: 7px;
}