.buy-section {
    margin: 45px auto 100px auto;;
  }
  
  .back-btn {
      color: #747474;;
      font-size: 15px;
      cursor: pointer;
      margin-left: 35px;
      gap: 5px;
      
  }
  
  .buy-title {
      color: #343434;
      font-size: 24px;
      text-align: center;
  }
  
  .input-text input {
      margin-top: 45px;
      width: 50%;
      height: 40px;
      border: 2px solid #019C89;
      margin-bottom: 10px;
      border-radius: 33px;
      outline: none;
      padding: 0px 20px 0px 20px;
      margin-left: 10px;
      font-size: 18px;
  
  }
  
  .categories {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 60px auto 20px auto;
  }
  
  .categories .col {
      background-color: #EAF6F2;;
      font-size: 14px;
      border-radius: 5px;
      padding: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      margin: 0px 10px 0px 10px;
  
  }
  
  .select {
      text-decoration: none;
      background: none;
      border: none;
      color: #019C89;
      font-size: 14px;
      display: flex;
      padding: 0px 8px 0px 8px;
  }
  
  .dropdown:hover>.dropdown-menu {
      display: block;
    
    }
    
    .dropdown>.dropdown-toggle:active {
      /*Without this, clicking will make it sticky*/
        pointer-events: none;
    }
  
  .dropdown-item {
      color: #019C89!important;
      font-size: 14px!important;
      border-radius: 5px!important;
      padding: 8px!important;
      display: flex!important;
      align-items: center!important;
      cursor: pointer;
      margin: 0px 10px 0px 10px!important;
      background: none!important;
      
      
  }
  
  .dropdown-toggle {
    padding:4px 8px 4px 8px!important;
  }
  
  
  
  